 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/MITSolveconverted_Comp1_2023-01-06_17.24.48.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2019px;
}

.u-section-1 .u-image-1 {
  width: 789px;
  height: 373px;
  object-position: 50% 100%;
  animation-timing-function: ease-in-out;
  box-shadow: 2px -5px 15px 0px rgba(0,0,0,1);
  margin: 47px 109px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 542px;
  width: 437px;
  background-image: none;
  height: auto;
  box-shadow: 2px -5px 15px 0px rgba(0,0,0,1);
  margin: -167px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 121px 40px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 40px 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 20px 40px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 27px auto 0 40px;
  padding: 13px 41px 14px 40px;
}

.u-section-1 .u-image-2 {
  width: 538px;
  height: 664px;
  object-position: 50% 100%;
  animation-timing-function: ease-in-out;
  box-shadow: 2px -5px 15px 0px rgba(0,0,0,1);
  margin: -489px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 438px;
  height: 148px;
  margin: 85px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 102px auto 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: -23px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 398px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 399px;
  height: 399px;
  margin: -1px auto 0 -60px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -332px 47px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 11px auto 0 302px;
}

.u-section-1 .u-text-7 {
  margin: 42px 47px 0 302px;
}

.u-section-1 .u-text-8 {
  margin: -140px 47px 114px auto;
}

.u-section-1 .u-list-2 {
  margin-top: -125px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 398px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 399px;
  height: 399px;
  margin: -12px -58px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: -164px 283px 0 66px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -230px auto 0 66px;
}

.u-section-1 .u-text-11 {
  margin: 11px auto 0 411px;
}

.u-section-1 .u-text-12 {
  margin: -26px auto 0 66px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2037px;
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 300px;
  }

  .u-section-1 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -153px;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-rotate: 0deg;
    margin-top: -362px;
    margin-left: -13px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -348px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-list-2 {
    margin-bottom: 18px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -219px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 0;
    margin-left: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2569px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -120px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -195px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 128px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 105px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 399px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 49px;
    margin-left: -63px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -450px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 28px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 88px;
    margin-right: 11px;
    margin-left: 305px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -233px;
    margin-right: 34px;
    margin-bottom: 0;
  }

  .u-section-1 .u-list-2 {
    margin-top: 11px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 60px;
    margin-right: -49px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -259px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -308px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -7px;
    margin-right: 76px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2460px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 255px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -35px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -192px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 67px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 52px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
    margin-top: -399px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-right: 103px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 41px;
    margin-right: 0;
    margin-left: 292px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -257px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 20px;
    margin-bottom: 4px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 26px;
    margin-right: -53px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -281px;
    margin-right: 289px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -325px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 27px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -53px;
    margin-bottom: 233px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1742px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 161px;
    margin-top: 45px;
    margin-right: -35px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    width: 274px;
    height: 338px;
    margin-top: -173px;
    margin-left: -34px;
  }

  .u-section-1 .u-image-3 {
    height: 115px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 35px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 465px;
  }

  .u-section-1 .u-image-4 {
    width: 197px;
    height: 197px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-top: -257px;
    margin-right: auto;
    margin-left: 8px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 32px;
    margin-right: -38px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -224px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -162px;
    margin-bottom: 19px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 283px;
  }

  .u-section-1 .u-image-5 {
    width: 197px;
    height: 197px;
    margin-top: 66px;
    margin-right: -72px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -177px;
    margin-right: 98px;
    margin-left: -35px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.875rem;
    margin-top: -254px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: -52px;
    margin-left: 27px;
  }
}