.u-section-1 .u-sheet-1 {
  min-height: 692px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 572px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
  background-image: none;
  margin-top: 20px;
  font-weight: 700;
}

.u-section-1 .u-image-1 {
  min-height: 572px;
  background-image: url("images/Initia-General_Web_2023-09-04_19.28.05.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-1 .u-image-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 916px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 6px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 19px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 15px 15px;
  grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  min-height: 841px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 9px;
}

.u-section-2 .u-image-1 {
  width: 147px;
  height: 147px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  margin: -136px 1px 0 161px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 10px 14px 0 auto;
  padding: 10px 39px;
}

.u-section-2 .u-text-4 {
  text-decoration: underline !important;
  margin: -15px auto 0 161px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: -1px 156px 0 161px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 9px;
}

.u-section-2 .u-image-2 {
  width: 147px;
  height: 147px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  margin: -136px 1px 0 161px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: 10px 14px 0 auto;
  padding: 10px 39px;
}

.u-section-2 .u-text-7 {
  text-decoration: underline !important;
  margin: -15px auto 0 161px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: -1px 156px 0 161px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 9px;
}

.u-section-2 .u-image-3 {
  width: 147px;
  height: 147px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  margin: -136px 1px 0 161px;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  background-image: none;
  margin: 10px 14px 0 auto;
  padding: 10px 39px;
}

.u-section-2 .u-text-10 {
  text-decoration: underline !important;
  margin: -15px auto 0 161px;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  margin: -1px 156px 0 161px;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 9px;
}

.u-section-2 .u-image-4 {
  width: 147px;
  height: 147px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  margin: -136px 1px 0 161px;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  background-image: none;
  margin: 10px 14px 0 auto;
  padding: 10px 39px;
}

.u-section-2 .u-text-13 {
  text-decoration: underline !important;
  margin: -15px auto 0 161px;
}

.u-section-2 .u-text-14 {
  font-size: 1.5rem;
  margin: -1px 156px 0 161px;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 9px;
}

.u-section-2 .u-image-5 {
  width: 147px;
  height: 147px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-text-15 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  margin: -136px 1px 0 161px;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  background-image: none;
  margin: 10px 14px 0 auto;
  padding: 10px 39px;
}

.u-section-2 .u-text-16 {
  text-decoration: underline !important;
  margin: -15px auto 0 161px;
}

.u-section-2 .u-text-17 {
  font-size: 1.5rem;
  margin: -1px 156px 0 161px;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 9px;
}

.u-section-2 .u-image-6 {
  width: 147px;
  height: 147px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-text-18 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  margin: -136px 1px 0 161px;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  background-image: none;
  margin: 10px 14px 0 auto;
  padding: 10px 39px;
}

.u-section-2 .u-text-19 {
  text-decoration: underline !important;
  margin: -15px auto 0 161px;
}

.u-section-2 .u-text-20 {
  font-size: 1.5rem;
  margin: -1px 156px 0 161px;
}

.u-section-2 .u-list-item-7 {
  box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 9px;
}

.u-section-2 .u-image-7 {
  width: 147px;
  height: 147px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-text-21 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  margin: -136px 1px 0 161px;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  background-image: none;
  margin: 10px 14px 0 auto;
  padding: 10px 39px;
}

.u-section-2 .u-text-22 {
  text-decoration: underline !important;
  margin: -15px auto 0 161px;
}

.u-section-2 .u-text-23 {
  font-size: 1.5rem;
  margin: -1px 156px 0 161px;
}

.u-section-2 .u-list-item-8 {
  box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 9px;
}

.u-section-2 .u-image-8 {
  width: 147px;
  height: 147px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-text-24 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  margin: -136px 1px 0 161px;
}

.u-section-2 .u-btn-8 {
  font-weight: 700;
  background-image: none;
  margin: 10px 14px 0 auto;
  padding: 10px 39px;
}

.u-section-2 .u-text-25 {
  text-decoration: underline !important;
  margin: -15px auto 0 161px;
}

.u-section-2 .u-text-26 {
  font-size: 1.5rem;
  margin: -1px 156px 0 161px;
}

.u-section-2 .u-list-item-9 {
  box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 0 9px;
}

.u-section-2 .u-image-9 {
  width: 147px;
  height: 147px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-text-27 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  margin: -136px 1px 0 161px;
}

.u-section-2 .u-btn-9 {
  font-weight: 700;
  background-image: none;
  margin: 10px 14px 0 auto;
  padding: 10px 39px;
}

.u-section-2 .u-text-28 {
  text-decoration: underline !important;
  margin: -15px auto 0 161px;
}

.u-section-2 .u-text-29 {
  font-size: 1.5rem;
  margin: -1px 156px 0 161px;
}

.u-section-2 .u-list-item-10 {
  box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 0 9px;
}

.u-section-2 .u-image-10 {
  width: 147px;
  height: 147px;
  margin: 3px auto 0 6px;
}

.u-section-2 .u-text-30 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  margin: -136px 1px 0 161px;
}

.u-section-2 .u-btn-10 {
  font-weight: 700;
  background-image: none;
  margin: 10px 14px 0 auto;
  padding: 10px 39px;
}

.u-section-2 .u-text-31 {
  text-decoration: underline !important;
  margin: -15px auto 0 161px;
}

.u-section-2 .u-text-32 {
  font-size: 1.5rem;
  margin: -1px 156px 0 161px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 18px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1177px;
  }

  .u-section-2 .u-image-1 {
    width: 121px;
    height: 121px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 126px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 6px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-2 {
    width: 121px;
    height: 121px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 126px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 6px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-3 {
    width: 121px;
    height: 121px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 126px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 6px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-4 {
    width: 121px;
    height: 121px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 126px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 6px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-5 {
    width: 121px;
    height: 121px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 126px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 6px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-6 {
    width: 121px;
    height: 121px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 126px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 6px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-7 {
    width: 121px;
    height: 121px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 126px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 6px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-23 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-8 {
    width: 121px;
    height: 121px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-24 {
    width: auto;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 126px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 6px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-25 {
    width: auto;
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-26 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-9 {
    width: 121px;
    height: 121px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-27 {
    width: auto;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 126px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 6px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-28 {
    width: auto;
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-29 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-10 {
    width: 121px;
    height: 121px;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-30 {
    width: auto;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 126px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 6px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-31 {
    width: auto;
    margin-top: 37px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-32 {
    width: auto;
    margin-top: 0;
    margin-right: 110px;
    margin-left: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1959px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 30px 30px;
    grid-template-columns: 100%;
    min-height: 1648px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-3 {
    width: 416px;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -36px;
    margin-right: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -32px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 180px;
    margin-left: 151px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-6 {
    width: 416px;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -36px;
    margin-right: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -32px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 180px;
    margin-left: 151px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-9 {
    width: 416px;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -36px;
    margin-right: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -32px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 180px;
    margin-left: 151px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-4 {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-12 {
    width: 416px;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -36px;
    margin-right: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -32px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 180px;
    margin-left: 151px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-5 {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-15 {
    width: 416px;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -36px;
    margin-right: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-16 {
    margin-top: -32px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 180px;
    margin-left: 151px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-6 {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-18 {
    width: 416px;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -36px;
    margin-right: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-19 {
    margin-top: -32px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 180px;
    margin-left: 151px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-7 {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-21 {
    width: 416px;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -36px;
    margin-right: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-22 {
    margin-top: -32px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 180px;
    margin-left: 151px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-8 {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-24 {
    width: 416px;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -36px;
    margin-right: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-25 {
    margin-top: -32px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 180px;
    margin-left: 151px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-9 {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-27 {
    width: 416px;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-top: -36px;
    margin-right: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-28 {
    margin-top: -32px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 180px;
    margin-left: 151px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-10 {
    width: 122px;
    height: 122px;
    margin-top: 4px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-30 {
    width: 416px;
    margin-top: -108px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -36px;
    margin-right: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-31 {
    margin-top: -32px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 180px;
    margin-left: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2034px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 37px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1779px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -82px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 36px;
    margin-left: 154px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 15px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -82px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 36px;
    margin-left: 154px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 15px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -82px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 36px;
    margin-left: 154px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 15px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -82px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 36px;
    margin-left: 154px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 15px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-16 {
    margin-top: -82px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 36px;
    margin-left: 154px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 15px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-19 {
    margin-top: -82px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 36px;
    margin-left: 154px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 15px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-22 {
    margin-top: -82px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 36px;
    margin-left: 154px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-24 {
    width: auto;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 15px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-25 {
    margin-top: -82px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 36px;
    margin-left: 154px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-27 {
    width: auto;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 15px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-28 {
    margin-top: -82px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 36px;
    margin-left: 154px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-10 {
    margin-top: 16px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-30 {
    width: auto;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 15px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-31 {
    margin-top: -82px;
    margin-left: 156px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 36px;
    margin-left: 154px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3164px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 369px;
    margin: 0 -14px 49px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 41px 41px;
    min-height: 2921px;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 29px;
    margin-right: auto;
    padding: 2px 106px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -196px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 45px;
    margin-left: 147px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 29px;
    margin-right: auto;
    padding: 2px 106px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -196px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 45px;
    margin-left: 147px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 29px;
    margin-right: auto;
    padding: 2px 106px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -196px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 45px;
    margin-left: 147px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 29px;
    margin-right: auto;
    padding: 2px 106px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -196px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 45px;
    margin-left: 147px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 29px;
    margin-right: auto;
    padding: 2px 106px;
  }

  .u-section-2 .u-text-16 {
    margin-top: -196px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 45px;
    margin-left: 147px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 29px;
    margin-right: auto;
    padding: 2px 106px;
  }

  .u-section-2 .u-text-19 {
    margin-top: -196px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 45px;
    margin-left: 147px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-7 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-21 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 29px;
    margin-right: auto;
    padding: 2px 106px;
  }

  .u-section-2 .u-text-22 {
    margin-top: -196px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 45px;
    margin-left: 147px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-8 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-24 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 29px;
    margin-right: auto;
    padding: 2px 106px;
  }

  .u-section-2 .u-text-25 {
    margin-top: -196px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 45px;
    margin-left: 147px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-9 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-27 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 29px;
    margin-right: auto;
    padding: 2px 106px;
  }

  .u-section-2 .u-text-28 {
    margin-top: -196px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 45px;
    margin-left: 147px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-10 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-30 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 29px;
    margin-right: auto;
    padding: 2px 106px;
  }

  .u-section-2 .u-text-31 {
    margin-top: -196px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 45px;
    margin-left: 147px;
  }
}