 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 282px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 32px auto 0 0;
}

.u-section-1 .u-list-1 {
  margin-bottom: 32px;
  margin-top: 9px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 166px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 21px;
}

.u-section-1 .u-image-1 {
  width: 132px;
  height: 132px;
  margin: 9px auto 0 9px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -109px auto 0 150px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 685px 0 150px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -48px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 38px;
    margin-bottom: 37px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 202px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -111px;
    margin-left: 148px;
  }

  .u-section-1 .u-text-3 {
    width: 644px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -57px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 166px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -113px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: -89px;
    margin-left: 165px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -34px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 45px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 37px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 43px 43px;
    min-height: 289px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -123px;
    margin-right: 5px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-right: auto;
    padding: 10px 42px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 609px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 32px auto 0 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 12px;
  margin-top: 10px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 512px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 5px;
}

.u-section-2 .u-image-1 {
  width: 98px;
  height: 98px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -98px auto 0 98px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 20px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -42px 489px 0 97px;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 5px;
}

.u-section-2 .u-image-2 {
  width: 98px;
  height: 98px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -98px auto 0 98px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 20px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: -42px 489px 0 97px;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 5px;
}

.u-section-2 .u-image-3 {
  width: 98px;
  height: 98px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -98px auto 0 98px;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 20px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: -42px 489px 0 97px;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 5px;
}

.u-section-2 .u-image-4 {
  width: 98px;
  height: 98px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -98px auto 0 98px;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 20px 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  margin: -42px 489px 0 97px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 199px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 199px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 199px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 624px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 201px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 201px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 201px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 719px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 195px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 195px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 195px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 43px 43px;
    min-height: 985px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 26px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-right: 34px;
    padding: 10px 42px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 26px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 0;
    margin-right: 34px;
    padding: 10px 42px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 26px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 0;
    margin-right: 34px;
    padding: 10px 42px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 26px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 0;
    margin-right: 34px;
    padding: 10px 42px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 9px;
    margin-right: 0;
  }
}