 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/MITSolveconverted_Comp1_2023-02-26_14.00.31.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1278px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 45px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 398px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 23px auto 0 -21px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -308px 47px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 12px auto 0 309px;
}

.u-section-1 .u-text-4 {
  margin: 41px 40px 0 309px;
}

.u-section-1 .u-text-5 {
  margin: -140px 47px 0 auto;
}

.u-section-1 .u-list-2 {
  margin-top: -62px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 398px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 351px;
  height: 351px;
  margin: 36px auto 0 229px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -375px 84px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 0 451px 0 auto;
}

.u-section-1 .u-text-8 {
  margin: -26px 72px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 34px 21px 0 570px;
}

.u-section-1 .u-list-3 {
  margin-top: -77px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-3 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 398px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  margin: 223px 308px 0 66px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -230px auto 0 66px;
}

.u-section-1 .u-text-12 {
  margin: 11px auto 0 321px;
}

.u-section-1 .u-text-13 {
  margin: -26px auto 0 66px;
}

.u-section-1 .u-image-3 {
  width: 353px;
  height: 353px;
  margin: -158px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -363px;
    margin-right: 63px;
    margin-left: 302px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 315px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -114px;
    margin-right: 42px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 372px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 391px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 174px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-1 .u-image-1 {
    width: 301px;
    height: 301px;
    margin-top: 49px;
    margin-left: -35px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: -319px;
    margin-right: 11px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 201px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
    margin-right: 24px;
    margin-left: 230px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -133px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 285px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 171px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-12 {
    margin-left: 203px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-image-1 {
    width: 257px;
    height: 257px;
    margin-top: 86px;
    margin-left: -13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -312px;
    margin-right: 98px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 221px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -186px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 189px;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-7 {
    margin-right: 214px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 185px;
    height: 185px;
    margin-top: 68px;
    margin-left: -26px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -244px;
    margin-right: 40px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -5px;
    margin-left: 143px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -311px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 3rem;
    margin-top: -364px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 135px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 96px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
  }
}