 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1349px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 56px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 68px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 28px 28px;
  grid-template-columns: 100%;
  min-height: 1079px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 0px 12px 20px 9px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 8px;
}

.u-section-1 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 0 auto 0 -21px;
}

.u-section-1 .u-text-2 {
  margin: -189px auto 0 323px;
}

.u-section-1 .u-text-3 {
  margin: 4px 26px 0 323px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -223px 26px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 46px 26px 0 auto;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 0px 12px 20px 9px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 8px;
}

.u-section-1 .u-image-2 {
  width: 351px;
  height: 351px;
  margin: 0 auto 0 -21px;
}

.u-section-1 .u-text-6 {
  margin: -189px auto 0 323px;
}

.u-section-1 .u-text-7 {
  margin: 4px 26px 0 323px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -223px 26px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 46px 26px 0 auto;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 0px 12px 20px 9px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 8px;
}

.u-section-1 .u-image-3 {
  width: 351px;
  height: 351px;
  margin: 0 auto 0 -21px;
}

.u-section-1 .u-text-10 {
  margin: -189px auto 0 323px;
}

.u-section-1 .u-text-11 {
  margin: 4px 26px 0 323px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -199px 26px 0 auto;
}

.u-section-1 .u-text-13 {
  margin: 46px 26px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1408px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 69px;
    margin-bottom: 25px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1179px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -176px;
    margin-left: 355px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 315px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-top: -254px;
    margin-right: 63px;
    margin-left: 330px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: 63px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -176px;
    margin-left: 355px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 315px;
  }

  .u-section-1 .u-text-8 {
    font-size: 3rem;
    width: auto;
    margin-top: -254px;
    margin-right: 63px;
    margin-left: 330px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 63px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -176px;
    margin-left: 355px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 315px;
  }

  .u-section-1 .u-text-12 {
    font-size: 3rem;
    width: auto;
    margin-top: -254px;
    margin-right: 63px;
    margin-left: 330px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 0;
    margin-right: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1136px;
  }

  .u-section-1 .u-image-1 {
    width: 301px;
    height: 301px;
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -145px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 4px;
    margin-right: 34px;
    margin-left: 296px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -304px;
    margin-right: 25px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 25px;
  }

  .u-section-1 .u-image-2 {
    width: 301px;
    height: 301px;
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -145px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 4px;
    margin-right: 34px;
    margin-left: 296px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -304px;
    margin-right: 25px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 25px;
  }

  .u-section-1 .u-image-3 {
    width: 301px;
    height: 301px;
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -145px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 4px;
    margin-right: 34px;
    margin-left: 296px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -304px;
    margin-right: 25px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1479px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1200px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 257px;
    height: 257px;
    margin-top: 13px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -122px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 25px;
    margin-right: 0;
    margin-left: 221px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -306px;
    margin-right: 13px;
    margin-left: 169px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 22px;
    margin-right: 13px;
    margin-left: 236px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    width: 257px;
    height: 257px;
    margin-top: 13px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -122px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 25px;
    margin-right: 0;
    margin-left: 221px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
    margin-top: -306px;
    margin-right: 13px;
    margin-left: 169px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 22px;
    margin-right: 13px;
    margin-left: 236px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    width: 257px;
    height: 257px;
    margin-top: 13px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -122px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 25px;
    margin-right: 0;
    margin-left: 221px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.875rem;
    margin-top: -306px;
    margin-right: 13px;
    margin-left: 169px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 22px;
    margin-right: 13px;
    margin-left: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1902px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 402px;
    margin-left: -31px;
    margin-right: -31px;
    margin-bottom: 43px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1776px;
  }

  .u-section-1 .u-image-1 {
    width: 185px;
    height: 185px;
    margin-top: 99px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
    margin-right: 122px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-3 {
    width: 257px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -496px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 199px;
    margin-right: 0;
    margin-left: 57px;
  }

  .u-section-1 .u-image-2 {
    width: 185px;
    height: 185px;
    margin-top: 99px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 39px;
    margin-right: 122px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-7 {
    width: 257px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: -496px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 199px;
    margin-right: 0;
    margin-left: 57px;
  }

  .u-section-1 .u-image-3 {
    width: 185px;
    height: 185px;
    margin-top: 99px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: 39px;
    margin-right: 122px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-11 {
    width: 257px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: -496px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 199px;
    margin-right: 0;
    margin-left: 57px;
  }
}