 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1384px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 56px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 28px 28px;
  grid-template-columns: 100%;
  min-height: 341px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 0px 12px 20px 9px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 351px;
  height: 351px;
  margin: 0 auto 0 -21px;
}

.u-section-1 .u-text-2 {
  margin: -189px auto 0 323px;
}

.u-section-1 .u-text-3 {
  margin: 4px 26px 0 323px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -223px 26px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 38px 26px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 98px 353px 0 auto;
}

.u-section-1 .u-icon-3 {
  font-size: 1.25em;
}

.u-section-1 .u-list-2 {
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 28px 28px;
  grid-template-columns: 100%;
  min-height: 341px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 0px 12px 20px 9px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 351px;
  height: 351px;
  margin: 0 auto 0 -21px;
}

.u-section-1 .u-text-7 {
  margin: -189px auto 0 323px;
}

.u-section-1 .u-text-8 {
  margin: 4px 26px 0 323px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -218px 137px 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 35px 26px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 99px 325px 0 auto;
}

.u-section-1 .u-icon-6 {
  font-size: 1.25em;
}

.u-section-1 .u-list-3 {
  margin-top: 46px;
  margin-bottom: 56px;
}

.u-section-1 .u-repeater-3 {
  grid-gap: 28px 28px;
  grid-template-columns: 100%;
  min-height: 341px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 0px 12px 20px 9px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 351px;
  height: 351px;
  margin: 0 auto 0 -21px;
}

.u-section-1 .u-text-12 {
  margin: -189px auto 0 323px;
}

.u-section-1 .u-text-13 {
  margin: 4px 26px 0 323px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -199px 227px 0 auto;
}

.u-section-1 .u-text-15 {
  margin: 42px 27px 0 auto;
}

.u-section-1 .u-text-16 {
  margin: 79px 376px 0 auto;
}

.u-section-1 .u-icon-9 {
  font-size: 1.25em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -176px;
    margin-left: 355px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 315px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-top: -254px;
    margin-right: 63px;
    margin-left: 253px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -90px;
    margin-right: 63px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 291px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -152px;
    margin-left: 358px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 28px;
    margin-left: 350px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -294px;
    margin-right: -17px;
    margin-left: 305px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -130px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 268px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -180px;
    margin-left: 366px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 0;
    margin-right: 36px;
    margin-left: 350px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -242px;
    margin-right: -179px;
    margin-left: 206px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: -5px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 301px;
    height: 301px;
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -163px;
    margin-right: 135px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 9px;
    margin-right: 44px;
    margin-left: 286px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -309px;
    margin-right: 1px;
    margin-left: 244px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 127px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 223px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -184px;
    margin-right: 134px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 14px;
    margin-right: 4px;
    margin-left: 305px;
  }

  .u-section-1 .u-text-9 {
    font-size: 3.75rem;
    margin-top: -319px;
    margin-right: 8px;
    margin-left: 308px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -126px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 205px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -188px;
    margin-right: 158px;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: 22px;
    margin-right: 12px;
    margin-left: 318px;
  }

  .u-section-1 .u-text-14 {
    font-size: 3.75rem;
    margin-top: -295px;
    margin-right: 29px;
    margin-left: 335px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 416px;
  }

  .u-section-1 .u-image-1 {
    width: 257px;
    height: 257px;
    margin-top: 13px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -131px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 101px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-top: -342px;
    margin-right: -7px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -33px;
    margin-right: 27px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 167px;
  }

  .u-section-1 .u-image-2 {
    width: 217px;
    height: 217px;
    margin-top: -5px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -44px;
    margin-right: 95px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 30px;
    margin-right: 3px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-9 {
    font-size: 3rem;
    margin-top: -306px;
    margin-right: -20px;
    margin-left: 197px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 217px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -31px;
    margin-right: 154px;
  }

  .u-section-1 .u-image-3 {
    width: 220px;
    height: 220px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: -66px;
    margin-right: 109px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 52px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-14 {
    font-size: 3rem;
    margin-top: -284px;
    margin-right: 32px;
    margin-left: 253px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 0;
    margin-right: 19px;
    margin-left: -19px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1844px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 402px;
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 527px;
  }

  .u-section-1 .u-image-1 {
    width: 185px;
    height: 185px;
    margin-top: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 62px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-3 {
    width: 310px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -494px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 74px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-list-2 {
    width: 402px;
    margin-top: 45px;
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 506px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: 170px;
    margin-top: 45px;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
    margin-top: -467px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    width: 242px;
    margin-top: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-list-3 {
    width: 402px;
    margin: 78px -31px 39px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 492px;
  }

  .u-section-1 .u-image-3 {
    height: 351px;
    margin-top: -16px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: -43px;
    margin-right: -146px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 17px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -446px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 202px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }
}